{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
  },
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
  ],
  "rules": {
    "prettier/prettier": "error", // Show Prettier issues as ESLint errors
    "react/prop-types": "off", // Example: Disable prop-types for React projects using TypeScript
    "@typescript-eslint/no-unused-vars": ["warn"], // Adjust TypeScript-specific rules
    "semi": ["error", "always"], // Example: Enforce semicolons
  },
  "settings": {
    "react": {
      "version": "detect", // Automatically detect the React version
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json",
      },
    },
  },
}
